

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="baneer-w3ls">
    <div class="row no-gutters">
        <div class="col-xl-5 col-lg-6">
            <div class="banner-left-w3">
                <div class="container">
                    <div class="banner-info_agile_w3ls">
                        <h5>Mang hương vị Coffee Việt vươn thế giới</h5>
                        <h3 class="text-da mb-4"><span>Mộc</span> Coffee</h3>
                        <p>Tại trang trại Mộc House, chúng tôi sát cánh làm việc với từng nông hộ, kiểm soát các tiêu chuẩn của quá trình chăm bón; tỉ mẩn trong các khâu sơ chế, rang, pha... để gửi đến khách hàng ly cà phê tốt nhất</p>
                        <a href="#" class="button-w3ls active mt-5">
                            Xem Thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                        <a href="/san-pham" class="button-w3ls mt-5 ml-2">
                            Đặt ngay
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 callbacks_container">
            <!-- banner slider -->
            <!--Slide-->
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <ul class="banner_slide_bg">
                    <li>
                        <span style="font-size: 500px"><div class="banner-top1"></div></span>
                    </li>
                    <li>
                        <div class="banner-top2"></div>
                    </li>
                    <li>
                        <div class="banner-top3"></div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                </div>
            </div>
            <!-- //banner slider -->
        </div>
    </div>
</div>
<!-- //banner -->
<div class="clearfix"></div>

<!-- about -->
<div class="about-bottom">
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-6 about">

        </div>
        <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
            <div class="right-space py-xl-5 py-lg-3">
                <div class="title-section mb-4">
                    <p class="w3ls-title-sub">Về chúng tôi</p>
                    <h3 class="w3ls-title">Chào mừng đến với <span>Mộc Coffee</span></h3>
                </div>
                <p class="about-text">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto
                    beatae vitae dicta
                    sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit.
                </p>
                <a href="#" class="button-w3ls mt-5">
                    Xem Thêm
                    <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- specials -->
<section class="blog_w3ls py-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Mộc Coffee</p>
            <h3 class="w3ls-title">Sản phẩm <span>đặc biệt</span></h3>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Assets/images/caphedacbiet.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="menu.html">Cà Phê Mộc</a></h5>
                        <p class="mt-3">Hãy thưởng thức cà phê của chúng tôi theo cách của bạn.</p>
                        <a href="menu.html" class="btn button-w3ls mt-4 mb-3">
                            Đọc thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Assets/images/tradao.png" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="menu.html">Trà Đào</a></h5>
                        <p class="mt-3">Ngon không thể cưỡng lại với vị đào nguyên chất</p>
                        <a href="menu.html" class="button-w3ls active mt-4 mb-3">
                            Đọc thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="#">
                            <img class="card-img-bottom" src="~/Assets/images/caphesuasach.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="menu.html">Cà phê sữa Mộc</a></h5>
                        <p class="mt-3">Hãy dùng tâm của bạn để thưởng thức nó</p>
                        <a href="menu.html" class="button-w3ls mt-4 mb-3">
                            Đọc thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //specials -->
<!-- //specials -->
<!-- two grids -->
<section class="offer pt-lg-3" id="specials">
    <div class="row no-gutters">
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="menu.html">Best Sale</a></h4>
                    <p class="text-li">Đây là sản phẩm bán chạy nhất của cửa hàng.</p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                        Mua ngay
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3 blog-sec-w3-2">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="menu.html">Organic Best & Fresh Drink</a></h4>
                    <p class="text-li">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Sed
                        ut perspiciatis
                        unde omnis iste natus error.
                    </p>
                    <a href="menu.html" class="button-w3ls active mt-5">
                        Mua ngay
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //two grids -->
<!-- services -->
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Hi</p>
            <h3 class="w3ls-title mb-3">Những dịch vụ <span>cao cấp</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="login.html">Free Shipping</a></h4>
                        <p>Miễn phí giao hàng nội thành.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/Assets/images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="~/Assets/images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="login.html">Miễn phí và hoàn trả nhanh</a></h4>
                        <p>Nếu không vừa ý, bạn có thể hoàn trả</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="login.html">Đặt hàng nhanh chóng</a></h4>
                        <p>Đặt hàng online thật tiện lợi phải không nào.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="~/Assets/images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="~/Assets/images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="login.html">Hỗ trợ 24/7</a></h4>
                        <p>Ngay khi bạn cần, chúng tôi luôn xuất hiện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="~/Assets/images/tradao.png" alt="" class="img-fluid">
    </div>
</section>
<!-- //services -->
<!-- blog -->
<section class="blog_w3ls py-5" id="blog">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Thành viên sáng lập</p>
            <h3 class="w3ls-title mb-3">Our Latest <span>Blog</span></h3>
            <p class="titile-para-text mx-auto">Là đội ngủ phát triển website quản lý quán coffee.</p>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="~/Assets/images/blog1.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="~/Assets/images/khue.jpg" alt="" class="img-blog rounded-circle img-fluid" style="height: 100px">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="#">Sed ut Riciatis</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Lê Hữu Khuê-17133034
                            </span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="single.html" class="button-w3ls mt-4">
                            Xem Thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="~/Assets/images/blog2.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="~/Assets/images/danh.jpg" alt="" class="img-blog rounded-circle img-fluid" style="height: 100px">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="#">Unde omnis iste</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Ngô Thành Danh-17133005
                            </span>
                        </div>
                        <p></p>
                        <a href="single.html" class="button-w3ls active mt-4">
                            Xem Thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="single.html">
                            <img src="~/Assets/images/blog3.png" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="~/Assets/images/tat.jpg" alt="" class="img-blog rounded-circle img-fluid" style="height: 100px">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="#">Natus error sit</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>
                                Huỳnh Thảo Tất-17133058
                            </span>
                        </div>
                        <p>Cras ultricies ligula sed magna dictum porta auris blandita.</p>
                        <a href="#" class="button-w3ls mt-4">
                            Xem Thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //blog -->
<!-- slides images -->
<section class="wthree-slider" id="masthead">
</section>



